html {
  box-sizing: border-box;
}

/* * = Universal Selector */
* {
  box-sizing: inherit;
}

body {
  font-size: 1.2rem;
  background: #434343;
}

h2 {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  padding-top: 10rem;
}

.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.all .col {
  padding: 0.5rem;
}

span {
  font-size: 5rem;
  color: #434343;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
